/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
    color: inherit;

}

ul, ol, li{
    list-style: none;

}

/* Fim do Reset */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #121212;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    height: 96px;
    width: 96px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d9/Forza_new_logo.png');
    background-color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
    color: #ffffff;
}

main{
    flex-grow: 1;
    display: flex;

}

.conteudo{
    width: 50%;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}
.conteudo h1{
    font-size: 80px;
    color: #f4c542;

}
.conteudo p{
    font-size: 48px;
    color: #FFFFFF;
}
.conteudo button{
    height: 80px;
    width: 300px;
    font-size: 32px;
    background-color: #f4c542;
    color: black;
    font-size: 32px;
}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: lightgray;
}
.social-icon {
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 50%;
    font-size: 48px;
    color: #000;
}
.destaque {
    width: 50%;
    background-image: url('https://www.latercera.com/resizer/v2/423STJ3FCJCPPPAVVHF66RYIQQ.jpg?quality=80&smart=true&auth=f0ffa142aa1ad9fbbd308bc607959adda026361c1793b6b4ecdb91b042406895&width=690&height=502');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}